
@media screen and (min-width: 701px) {

    #mainLogin{
        display:grid;
        grid-template-columns:2fr 5fr 2fr;
        grid-template-rows: auto;
        height: 100%;
        grid-template-areas:
                ". form .";
    }

    #loginForm{
        grid-area: form;
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #loginForm form{
        display:flex;
        height:40%;
        width:35%;
        padding: 5%;
        flex-direction: column;
        margin:auto;
    }

    #loginForm form input{
        font-weight: bold;

    }

    #loginForm form label{
        text-align: center;
        margin-top: 1%;
        letter-spacing: 2px;
    }

    #loginForm form input[type="submit"]{
        letter-spacing: 2px;
        margin-top: 7%;
        color:black;
    }


    #loginStatus{
        width:50%;
        height:30%;
        text-align: center;
    }

    #loginStatus p{
        font-size:2.3vmin;
        font-weight: bold;
        word-wrap: break-word;
        animation-name: responseMessage ;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }




    /*Animation response message */
    @keyframes responseMessage{

        0%{
            color: #79090e
        }
        50%{
            color:red;
        }
        100%{
            color: #ff3005;
        }
    }

}
