body,html{

    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}
#root{
    width:100%;
    height:100%;
    margin-left:1%;
    overflow:hidden;
    padding:0;
}







.nothing{
    border-bottom: #3a3838 solid thin;
}