
@media screen and (min-width: 860px) {


    /*Welcome user animation*/
        /*Start animation*/
    #welcomeUser{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "welcome";
        height: 100vh;
        align-items: center;
        justify-items: center;
        color:#237e00;
        animation-name: startAnimation;
        animation-duration: 1s;
    }

    @keyframes startAnimation {

        0%{
            color: rgba(255, 255, 0, 0);
        }
        25%{
            color: rgba(40, 80, 54, 0.26);
        }
        50%{
            color: rgba(88, 255, 152, 0.51);
        }

        75%{
            color: rgba(65, 198, 96, 0.76);
        }
    }

        /*Phase one animation*/
    #mainPreviewArticles_phaseOne{

        display:grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
        height: 100vh;
        grid-template-areas: "articles .";
    }

    #mainPreviewArticles_phaseOne div{
        grid-area: articles;
        animation-name: phaseOneAnimation;
        animation-duration: .6s;
    }

    @keyframes phaseOneAnimation {

        0%{
            opacity: 0;
        }
        25%{
            opacity: 0.25;
        }
        50%{
            opacity:0.5;
        }
        75%{
            opacity: 0.75;
        }
        100%{
            opacity: 1;
        }
    }


        /*Phase two animation-end*/
    #mainPreviewArticles_phaseTwo{

        display:grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "articles preview";
        height:85vh;
    }

    #previewArticles_articles{
        grid-area: articles;
        display:flex;
        flex-direction: column;
        border-right: black solid thin;
        border-radius: 1%;
    }

    #previewArticles_events{
        grid-area:preview;
        animation-name: phaseTwoAnimation;
        animation-duration: 1s;
    }

    @keyframes phaseTwoAnimation {

        0%{
            opacity: 0;
        }
        25%{
            opacity: 0.25;
        }
        50%{
            opacity:0.5;
        }
        75%{
            opacity: 0.75;
        }
        100%{
            opacity: 1;
        }
    }



    /*class for article div*/
    .previewArticles_article{
        display:grid;
        width:90%;
        height:150px;
        align-self: center;
        border-bottom:black solid thin;
        border-radius: 3%;
        overflow: hidden;
        margin-top: 5%;
        grid-template-columns: 0.5fr 1fr 3fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-template-areas: "vote voteup headline headline "
                             "vote votedown author ."
    }


    #article_vote{
        grid-area: vote;
        font-size: 80px;
        color:green;

    }
    #article_voteup{
        grid-area: voteup;
        font-size: 20px;
        width: 150px;
        align-self: start;
    }
    #article_votedown{
        grid-area: votedown;
        font-size: 20px;
        width: 150px;
        align-self: start;
    }
    #article_headline{
        grid-area: headline;
        font-size: 40px;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width:100%;
        color: #595b5f;

    }
    #article_author{
        grid-area:author;
        justify-self: center;
        align-self: end;
        font-weight: bold;
    }





}
