body,html{

    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}


#mainComponent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:100px auto;
    grid-template-areas:
    " header"
    " content";
    height: 100vh;
}


#divHeader{
    grid-area: header;
    background-color: rgba(120, 120, 120, 0.15);
}

#divContent{
    grid-area: content;
    background-color: white;
}

#polygonHeader h2 span {
    color: green;
}

#polygonHeader h2{
    align-self: center;
    font-weight: bold;
    font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    letter-spacing: 3px;
    animation-name: animationPolygonHeader;
    animation-duration: 2.5s;
}

#polygonGeneral h1{
    text-shadow: 2px 2px lightgray;
    letter-spacing: 3px;
    font-weight: bold;
}

@media screen and (min-width: 861px) {

    #divHeader{
        display:flex;
        height: 15vh;
    }

    #polygonHeader{
        display: flex;
        clip-path: polygon(0px 0px, 0px 100%, 100% 0px );
        background-color: white;
        height: 100%;
        flex:1;
        overflow:visible;
    }
    #polygonUsername{
        display:flex;
        background-color: white;
        clip-path: polygon(0px 0px, 100% 100%, 100% 0px );
        margin-left: auto;
        flex:1;
    }

    #polygonUsername p{
        padding-right: 2%;
        padding-left:2%;
        margin-left: auto;
        margin-right: 3%;
        align-self: center;
        font-family: OpenSymbol;
        font-weight: bold;
        font-size: 3.5vmin;
        letter-spacing: 2px;
        border-radius: 10px;
        border-bottom: #00ce51 inset 2px;
        border-top: #0FA0CE inset 2px;
        transition: border-bottom-width 500ms linear;
    }

    #polygonGeneral{
        padding-right: 1%;
        padding-left:1%;
        background-color: white;
        border:black 1px;
        border-radius: 10%;
    }

    /*Animation header*/
    @keyframes animationPolygonHeader {

        0% {
            letter-spacing: -20px;
            color:green;
        }
        50%
        {
            letter-spacing: 10px;
            color:gray;
        }
        100%{
            letter-spacing: 3px;
        }
    }
}

@media screen and (max-width: 860px){

    #mainComponent{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:120px auto;
        grid-template-areas:
                " header"
                " content";
        height: 100vh;
    }

    #divHeader{
        overflow:hidden;
        width: 35%;
        justify-self: center;
    }

    #polygonHeader{
        text-align: center;
        clip-path: none;
        background-color: yellow;
        height: 100%;
    }
    #polygonHeader h2{
        font-size: 6vmin;
        line-height: 120px;
        transform: rotate(-20deg);
    }

    #polygonUsername{
        display:none;
    }

}





